extends header

block content
  .container-fluid
    .row-fluid
      .col-sm-3
        .sidebar-nav-inverse
          .navbar.navbar-default(role='navigation')
            ul.nav.nav-pills.nav-stacked
              for item, i in sidebars
                if i==0
                  li.active
                    a(href='#') #{item}
                else
                  li
                    a(href='#') #{item}
      .col-sm-9 #{name}
      script(src="/javascript/index.js")
