extends header

block content
  script(src="/javascript/video.min.js")
  link(rel='stylesheet', href='/stylesheets/video-js.min.css')
  .container-fluid
    .row-fluid
      if !video
        div No videos available, please upload a video
      else
          .col-sm-3
            .sidebar-nav-inverse
              .navbar.navbar-default(role='navigation')
                ul#lecturelist.nav.nav-pills.nav-stacked
                  for item, i in video
                    if i==0
                      li.active
                        a(href='#') #{item}
                    else
                      li
                        a(href='#') #{item}
      .col-sm-9
        if video
             video#my-video.video-js(controls,preload="auto",width="640",height="320",data-setup='{"example_option":true}')
                source(src=defaultVideo type='video/mp4')
  script(src="/javascript/lectures.js")
